# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/backend/dist
/backend/tmp
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
*.iml
gin-bin
vendor
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.next
/cahce
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
.DS_Store?
Thumbs.db

# SENSITVE DATA #
.gitconfig
.env
cert/
